section{
	display: flex;
	background: #fff8f0;
	width:100%;
	flex-flow: column nowrap;
	
}
.friends-h3{
	display: flex;
	height: 5.2rem;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 0.05rem solid #e9e5e2;
}
.friends-tit{
	display: block;
	width: 100%;
	color:#afa8a0;
	font-weight: 100;
	text-align: center;
	padding:2.5rem 0 1.85rem;
	font-size:1.3rem;
}
.friends-list{
	display: flex;
	height: 7.05rem;
	box-sizing: border-box;
	border-bottom:0.05rem solid #e9e5e2;
	width:100%;
}

.friends-user{
	display: flex;
	border-left: 0.05rem solid #e9e5e2;
	border-right: 0.05rem solid #e9e5e2;
	box-sizing: border-box;
	width:68%;
	padding:0.9rem 0;
	margin:0;
}
.friends-img{
	display: flex;
	height:5.2rem;
	width: 7.8rem;
	border-radius: 50%;
}
.friends-p1,.friends-p2,.friends-p3,.friends-p4,.friends-p5{
	height:5.2rem;
	width: 5.2rem;
	margin:0 1.1rem 0 1.4rem;
	border-radius: 50%;
	
}
.friends-p1{
	background: url(../../imgs/friends/icon1.jpg) no-repeat center;	
}
.friends-p2{
	background: url(../../imgs/friends/icon2.jpg) no-repeat center;
}
.friends-p3{
	background: url(../../imgs/friends/icon3.jpg) no-repeat center;
}
.friends-p4{
	background: url(../../imgs/friends/icon4.jpg) no-repeat center;
}
.friends-p5{
	background: url(../../imgs/friends/icon5.jpg) no-repeat center;
}
.friends-data{
	display: flex;
	width: 70%;
	flex-flow: column nowrap;
}
.friends-name{
	font-size: 1.2rem;
	color:#373736;
	width: 100%;
	line-height: 3.2rem;
}
.friends-access{
	width:100%;
	font-size: 1.1rem;
	color:#afa8a0;
}






.friends-attention{
	border-right: 0.05rem solid #e9e5e2;
	font-size:1.2rem;
	padding:2.85rem 0;
	color:#fa7e3e;
	line-height:100%;
	text-align: center;
	width:32%;
}



.friends-change{
	height: 6.8rem;
	line-height:6.6rem;
	text-align: center;
	width: 100%;
}


.friends-prev,.friends-six,.friends-num,.friends-next{
	padding:1.2rem 0;
	font-size: 1.1rem;
	color:#373736;
}

.friends-prev{
	
}
.friends-six{
	
}
.friends-num{
	
}
.friends-next{
	padding:1.2rem 0;
}

.friends-current{
	padding:1.2rem 1.5rem;
	background: #fa7e3e;
	color:#fff;
}

